{% include "head.html" %}
{% include "navbar.html" %}

<div class="container m-4">
	<div class="row">
		<div class="col-sm-2">
			{% load static %}
			<img src="{% static "br_app/male_default.png" %}" class="img-thumbnail" alt="">
			<!-- <img src="{{ officer.image }}" class="img-thumbnail" alt=""> -->
		</div>
		<div class="col-sm-8">
			{{ officer.rank }}
			{{ officer.firstname }} {{ officer.lastname}}
			<br>
			Badge Number: {{ officer.badgenumber }}
			<br>
			Department History:
			{{ officer.city }}
		</div>
		<div class="col-sm-2">
			Rating: {{ officer.numberstars }}/5
		</div>
	</div>
	<hr>
	<div class="row" id="reviews">
		{% if logged_in %}
			<div class="col-sm-12">
				<form class="" action="/new_review">
				<div class="form-group">
					<input class="form-control w-20" id="username" placeholder="Username"></textarea>
					<input class="form-control w-20" id="rating" placeholder="Rating (out of 5)"></textarea>
					<input class="form-control" id="review" placeholder="What do you think?"></textarea>
					<button type="button" class="btn btn-primary">Submit Review</button>
				</div>
			</div>
		{% else %}
			Have a review for this officer? Log in or register to create a review!
		{% endif %}

		{% if reviews %}
			<div class="container-fluid">
				{% for review in reviews %}
					<div class="row">
						<div class="col-sm-12">
							{{ review.user.username }}	{{ review.stars }}/5
							<br>
							<b>{{ review.summary}}</b>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							{{ review.description }}
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
