{% include "head.html" %}
{% include "navbar.html" %}

<div class="container m-4">
	<div class="row" style="color:black">
		<div class="col-sm-2">
			{% load static %}
			<img src="{% static "br_app/male_default.png" %}" class="img-thumbnail" alt="">
			<!-- <img src="{{ officer.image }}" class="img-thumbnail" alt=""> -->
		</div>
		<div class="col-sm-8">
			<b>Name:</b> {{ officer.rank }}
			{{ officer.firstname }} {{ officer.lastname}}
			<br>
			<b>Badge Number:</b> {{ officer.badgenumber }}
			<br>
			<b>Department History:</b>
			{{ officer.city }}
		</div>
		<div class="col-sm-2">
			<b>Rating:</b> {{ officer.numberstars }}/5
		</div>
	</div>
	<hr>
	<div class="row" id="reviews">
		{% if logged_in %}
			<div class="col-sm-12">
				<form class="form-inline" id="review_form" action="/add" method="get">
	 				<div class="form-group w-20">
						<input class="form-control" type="text" name="user" placeholder="Username">
					</div>
					<div class="form-group w-20">
						<input class="form-control" type="text" name="rating" placeholder="Rating (out of 5)">
					</div>
					<div class="form-group w-100">
						<input class="form-control w-100" type="text" name="review" placeholder="What do you think?">
					</div>
					<input type="submit" form="review_form" class="btn btn-primary"
             name="submit-btn" value="Submit">
				</form>
			</div>
		{% else %}
			Have a review for this officer? Log in or register to create a review!
		{% endif %}
		{% if reviews %}
			<div class="container-fluid">
				<h1 style="color: black"> Reviews </h1>
				{% for review in reviews %}
					<div class="m-4" style="color: black">
						<div class="row">
							<div class="col-sm-12">
								<b>User:</b> {{ review.user.username }}
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<b>Rating:</b> {{ review.stars }}/5
								<br>
								<b>{{ review.summary}}</b>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<b>Summary: </b> {{ review.description }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
