
<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<img src="{{ officer.image }}" class="img-thumbnail" alt="">
		</div>
		<div class="col-sm-8">
			{{ officer.rank }}
			{{ officer.first }} {{ officer.last}}
			Badge Number: {{ officer.badge }}
			Department History:
			{{ officer.depts }}
		</div>
		<div class="col-sm-2">
			{{ officer.stars }}
		</div>
	</div>
	<div class="row" id="reviews">
		{% if officer.reviews %}
			{% for review in officer.reviews %}
				<!-- TODO: List of reviews -->
			{% endfor %}
		{% else %}
			{% if logged_in %}
				<!-- TODO: Add a review form -->
			{% else %}
				Have a review for this officer? Log in or register to create a review!
			{% endif %}
		{% endif %}
	</div>
</div>
