
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			<img src="{{ officer.image }}" class="img-thumbnail" alt="">
		</div>
		<div class="col-sm-8">
			{{ officer.rank }}
			{{ officer.first_name }} {{ officer.last_name}}
			Badge Number: {{ officer.badge_number }}
			Department History:
			{{ officer.dept }}
		</div>
		<div class="col-sm-2">
			{{ officer.rating }}
		</div>
	</div>
	<div class="row" id="reviews">
		{% if logged_in %}
			<div class="col-sm-2">
			</div>
			<div class="col-sm-10">
				<div class="form-group">
					<textarea class="form-control" rows="4" id="create-review"></textarea>
					<button type="button" class="btn btn-primary">Submit Review</button>
				</div>
			</div>
		{% else %}
			Have a review for this officer? Log in or register to create a review!
		{% endif %}

		{% if officer.reviews %}
			<div class="container-fluid">
				{% for review in officer.reviews %}
					<div class="row">
						<div class="col-sm-2">
							{{ review.username }}
							{{ review.stars }}
						</div>
						<div class="col-sm-10">
							{{ review.text }}
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
